/* BEGIN wordpress */
#post-lock-dialog {
	-webkit-animation: goaway 4s;
	animation: goaway 4s;
	opacity: 0;
	visibility: hidden;
}
@-webkit-keyframes goaway {
	0% {
		-webkit-opacity: 1;
		opacity: 1;
		
		visibility: visible;
	}
	50% {
		-webkit-opacity: 0.75;
		opacity: 0.75;
	}
	100% {
		-webkit-opacity: 0;
		opacity: 0;
		
		visibility: hidden;
	}
}
@keyframes goaway {
	0% {
		-webkit-opacity: 1;
		opacity: 1;
		
		visibility: visible;
	}
	50% {
		-webkit-opacity: 0.75;
		opacity: 0.75;
	}
	100% {
		-webkit-opacity: 0;
		opacity: 0;
		
		visibility: hidden;
	}
}
/* END wordpress */

/* BEGIN watch-tvseries.net */
#toptvshow {
	margin-top: 0 !important;
}
/* END watch-tvseries.net */