

.vertical_center_1-wrap {
	display: block;
	position: relative;
	height: 108px;
	line-height: 108px;
}
.vertical_center_1-element {
	display: inline-block;
	vertical-align: middle;

	line-height: 1.25; /* reset line-height so it doesnt inherit from wrapper */
	position: relative;
	top: -0.25em; /* = 1.0 - line-height */
}

